.otbox{
    background-color: rgb(125, 15, 33);
    width: 80vh;
    height: 60vh;
    margin-left: 100px;
}
.inbox{
    background-color: rgb(214, 103, 121); padding-top:30px; 
    padding-left: 30px;
    width: 110vh;
    height: 65vh;
    margin-left: 100px;
    
 

}
.table{
    margin-left: 130px;
    width:50vh;
   
    
    
    

}
.button{
    margin-left: 150px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid white;
    font-size: large;
    
}